{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Apropos</title>
{% endblock %}
{% block conten %}
<!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                APROPOS DE <span>ROYAL TOURS</span>
              </h2>
            </div>
            <p>
                Bienvenue chez ROYAL TOURS,
                votre partenaire de confiance pour tous vos besoins de transport.
                Depuis notre création,
                nous nous engageons à offrir des services de transport fiables,
                sûrs et confortables pour nos clients.
                Que ce soit pour des trajets quotidiens, des transferts aéroportuaires ou des voyages de groupe,
                nous disposons de véhicules modernes et confortables pour garantir une expérience agréable et sécurisée.<br> <br>

                Visites Guidées : Les Royal Tours Bus proposent souvent des visites guidées avec des commentaires en direct ou enregistrés dans plusieurs langues, fournissant des informations historiques et culturelles sur les sites visités. <br>

                Hop-On Hop-Off : De nombreux services de Royal Tours Bus fonctionnent sur un modèle "hop-on hop-off", permettant aux passagers de monter et descendre du bus à divers arrêts tout au long du parcours, offrant une grande flexibilité pour explorer la ville à leur propre rythme.<br>

                Principales Attractions : Ces tours couvrent généralement les principales attractions touristiques de la ville, telles que les monuments historiques, les musées, les parcs, et les quartiers emblématiques. <br>

                Confort et Commodité : Les bus sont souvent équipés de sièges confortables, de climatisation, et parfois de Wi-Fi gratuit, assurant une expérience agréable pour les passagers.<br>

                Billets et Tarifs : Les billets pour les Royal Tours Bus peuvent être achetés en ligne ou sur place. Les tarifs varient en fonction de la durée du billet (un jour, deux jours, etc.) et des services inclus (accès à d'autres attractions, croisières en bateau, etc.). <br>

                Accessibilité : Beaucoup de ces bus sont accessibles aux personnes à mobilité réduite, avec des rampes et des espaces réservés.<br>

                Disponibilité national : Les Royal Tours Bus sont disponibles dans de nombreuses grandes villes à travers le pays, y compris Cap-Haïtien, Gonaïves, Port-au-Prince, et bien d'autres.
            </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/rt.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
