{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Contact</title>
{% endblock %}

{% block contact %}

  <!-- contact section -->
  <section class="contact_section layout_padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
              Contact Us
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          {% for msg in messages  %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>succes</strong> {{ msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          {% endfor %}
          <div class="form_container">
            <form  method="POST"  action="">
               {% csrf_token %}
              <div>
                <input type="text" name="nom" placeholder="Votre Nom" required />
              </div>
              <div>
                <input type="text" name="telephone" placeholder="Votre Numero de Telephone" required />
              </div>
              <div>
                <input type="email" name="email" placeholder="Email" required />
              </div>
              <div>
                <input type="text" name="message" class="message-box" placeholder="Message" required/>
              </div>
              <div class="btn_box">
                <button>
                  ENVOYER
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
{% endblock %}